.card_main{
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
    box-sizing:content-box;
    block-size: 200px;
    max-block-size: 200px;
   
}
.card_name {
    font-size: 32px;
    line-height: 0.9;
    font-weight: 700;
}
.card_name span{
    font-size: 14px;
}

.card_back{
    transform: rotate(180deg) scale(1.1);
    background: #141414;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3) ;
}
.card_back span {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.prohead{
    font-size: 20px;
    text-align: center;
    margin: 5px;
}
.head{
    font-size: 40px;
    text-align: center;
    margin: 5px;
}
.parent{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 12px;
    grid-area:span;
    background-image:url("./back.jpg");
    background-repeat: no-repeat, center, fixed;
    background-size: cover;
    padding-bottom:30px;
    
    object-position: 100% 100%;
    background-color: rgba(0,0,0,0.24);
}

.one{
    border-radius: 10px;
    color: #000;
    background-color: rgb(0, 102, 255);
    text-align: center;
    padding: 10px;
    margin: 50px;
    opacity: 0.9;
}
.two{
    border-radius: 10px;
    color: #000;
    background-color: rgb(9, 255, 0);
    text-align: center;
    padding: 10px;
    margin: 50px;
    opacity: 0.9;
}
.three{
    border-radius: 10px;
    color: #000;
    background-color: rgb(255, 0, 43);
    text-align: center;
    padding: 10px;
    margin: 50px;
    opacity: 0.9;
}
.four{
    border-radius: 10px;
    color: #000;
    background-color: rgb(0, 255, 221);
    text-align: center;
    padding: 10px;
    margin: 50px;
    opacity: 0.9;
}
.five{
    border-radius: 10px;
    color: #000;
    background-color: rgb(140, 0, 255);
    text-align: center;
    padding: 10px;
    margin: 50px;
    opacity: 0.9;
}
.six{
    border-radius: 10px;
    color: #000;
    background-color: rgb(42, 165, 26);
    text-align: center;
    padding: 5px;
    margin: 50px;
    opacity: 0.9;
}
.card_small{
font-size: 50px;
margin: 0px;
}
.program{
    color: blanchedalmond;
    background-size:cover;
    background-color:rgb(36, 34, 34);
    display: grid;
    

}
p{
    text-align: center;
    
    
}

